In [1]:
import sys
import os
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)
from config import *
import pandas as pd
pd.options.display.max_columns = None
import numpy as np

In [9]:
data = pd.read_csv(os.path.join(DATA_RAW_DIR, 'prueba.csv'), sep = ';')
data.shape

(25296, 4)

In [ ]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

engine = create_engine('postgresql://admin:admin123@localhost:5432/testdb')
data.to_sql('tabla_estudiantes', con=engine, index=False, if_exists='replace', chunksize=1000, method='multi')
print("✅ Tabla creada exitosamente en PostgreSQL.")

✅ Tabla creada exitosamente en PostgreSQL.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://admin:admin1234@localhost:3306/testdb_mysql')
data.to_sql('tabla_estudiantes', con=engine, index=False, if_exists='replace', chunksize=1000, method='multi')
print("✅ Tabla creada exitosamente en MySQL.")

✅ Tabla creada exitosamente en MySQL.